/* Hoja de estilos práctica CV */

@import url('https://fonts.googleapis.com/css?family=Baloo+2|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

body{
    max-width:700px;
    margin:0 auto;
    background-image:url("../img/fondo_code_1600.jpg");
    background-attachment: fixed;
    font-family: 'Baloo 2', cursive;
}

header{
    background-color:rgba(46, 204, 113, 0.9);
    background-image:url("../img/foto_jnr.jpg");
    background-repeat: no-repeat;
    background-size:contain;
}

h1, header h3{
    text-align:right;
    margin:0;
}

h1{
    font-size:2.5em;
}

h2{
    font-size:2em;
}

header h3{
    font-size:1.5em;
}

h1,h2{
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: #F5EF16 5px 3px 8px;
}

p{
    font-size:1.3em;
}

ul li{
    line-height:30px;
}

.contacto p{
    text-align:center;
}

strong:hover{
    font-size:2em;
    color: #a93226 ;
}

header, .contacto, .personal, .cono, .laboral, .formacion, .trabajos, footer address{
    margin:0;
    padding:5px 15px 15px 30px;
}

.contacto{
    background-color: rgba(215, 189, 226, 0.9);
}

.personal{
    background-color: rgba(252, 243, 207, 0.9);
}

.cono{
    list-style-type: square;
    font-family: 'Roboto Mono', monospace;
    background-color:rgba(169, 226, 243,0.9);
}

.laboral{
    list-style-type: circle;
    background-color: rgba(212, 239, 223,0.9);
}

.laboral ul li, .formacion ul li, .trabajos ul li{
    font-size:1.3em;
}

.formacion{
    background-color: rgba(214, 137, 16,0.9);
}

.trabajos{
    background-color: rgba(34, 153, 84,0.9);
}

.trabajos ul, .trabajos a{
    color:white;
    text-decoration:none;
}

.trabajos a:hover{
    font-size:1.5em;
    color:blue;
}

address{
    color:darkblue;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    background-color: rgba(213, 219, 219,0.9);
}


/*
font-family: 'Roboto Mono', monospace;
font-family: 'Baloo 2', cursive;
font-family: 'Gloria Hallelujah', cursive;
 */